/* Basic styling */

:root {
  --main-color: rgb(144, 105, 172);
  --font-menu-color: white;
  font-size: 15%;
}

body,
a {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font-menu-color);
  margin: 0;
  overflow: hidden;
}
